<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pagetitle">Contact <span>Us</span></h1>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Subject">
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Textarea"></textarea>
                </mat-form-field>
                <button mat-button primary>Click me!</button>
            </div>
        </div>

    </div>
</div>