@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    background: #eaeaea;
}

.header {
    padding-bottom: 2px;
    box-shadow: 0px -2px 32px #CCc;
    margin-bottom: 24px;
    font-family: 'Advent Pro', sans-serif;
}